<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SaucedemoSuite">
    <test name="e2eTests">
        <classes>
            <class name="runners.e2e.e2eStandardUserTest"/>
            <class name="runners.e2e.e2eProblemUserTest"/>
            <class name="runners.e2e.e2eGlitchedUserTest"/>
        </classes>
    </test>
    <test name="loginTests">
        <classes>
            <class name="runners.LoginPage.LoginTests"></class>
        </classes>
    </test>
    <test name="itemTests">
        <classes>
            <class name="runners.ItemPages.ItemListStandardUserTest"></class>
        </classes>
    </test>
    <test name="sortTest">
        <classes>
            <class name="runners.SortPages.SortTests"></class>
        </classes>
    </test>
    <test name="cartTests">
        <classes>
            <class name="runners.CartPages.CartTest"></class>
        </classes>
    </test>
</suite>